.artstyle-container {
  display: block;
  margin: 0 auto;
}
.artstyle {
  margin: 0;
  padding: 30px 10px 10px;
}
@media (min-width: 340px) {
  .artstyle {
    padding: 30px 15px 10px;
  }
}
@media (min-width: 640px) {
  .artstyle {
    margin: 0 auto;
    padding: 30px 0 10px;
  }
}
@media (min-width: 960px) {
  .artstyle {
    margin: 0 auto;
    padding: 50px 0 10px;
  }
}

.artstyle__main {
  position: relative;
}
.artstyle--full-width .artstyle__main {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 640px) {
  .artstyle--full-width .artstyle__main {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.artstyle__main--container {
  margin-bottom: 30px;
  margin: 0 auto;
  max-width: 590px;
  min-height: 600px;
}
@media (min-width: 640px) {
  .artstyle__main--container {
    margin-bottom: 20px;
  }
}
@media (min-width: 960px) {
  .artstyle__main--container {
    margin-right: 360px;
    margin-left: auto;
  }
  .artstyle--full-width .artstyle__main--container {
    margin-right: auto;
  }
}
@media (min-width: 1320px) {
  .artstyle__main--container {
    margin-right: auto;
    margin-left: auto;
  }
}

.artstyle__header {
  position: relative;
  margin: 0 auto;
  max-width: 590px;
}
@media (min-width: 960px) {
  .artstyle__header {
    margin-right: 360px;
    margin-left: auto;
  }
}
@media (min-width: 1320px) {
  .artstyle__header {
    margin-right: auto;
    margin-left: auto;
  }
}

.artstyle__header--center {
  text-align: center;
}
.artstyle__header--right {
  text-align: right;
}
.artstyle__header--bleed {
  width: 100.1vw;
  margin-left: 50.05%;
  -webkit-transform: translateX(-50.05%);
  transform: translateX(-50.05%);
  max-width: none;
}
@media (min-width: 1320px) {
  .artstyle__header--bleed {
    width: 1240px;
  }
  .artstyle--full-width .artstyle__header--bleed {
    width: 100.1vw;
  }
}

.artstyle__header-title {
  font-family: Times New Roman, Georgia, 'serif';
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.2px;
  margin: 0 0 20px;
}
@media (min-width: 640px) {
  .artstyle__header-title {
    font-size: 42px;
    line-height: 45px;
    letter-spacing: -0.5px;
  }
}

.artstyle__byline {
  font-family: Arial, Verdana, Tahoma, Trebuchet MS, Impact, 'sans-serif';
  font-size: 16px;
  margin-bottom: 30px;
}

@media (min-width: 640px) {
  .artstyle__byline {
    margin-bottom: 50px;
  }
}
.artstyle__figure {
  position: relative;
  margin: 0 0 30px;
}
@media (min-width: 640px) {
  .artstyle__figure {
    margin-bottom: 50px;
  }
}
