/*
  Style guide
  -----------
  This is the starting point of all global styles, included by _app. It will 
  be loaded on every page. Post CSS purges any class not being used in all 
  jsx/tsx files in project. Use Tailwind or CSS modules in components of modules to 
  have scoped and namespaced CSS. This also improves initial load 
  since each individual CSS Module will be loaded when used.
  Tailwind is being loaded before these styles for base, 
  media queries on breakpoints, generic utilities 
  in order to have consistency.

  Set var theme constraints, you can use them in components. 
  Tailwind will also use some of these variables. So if you
  use custom CSS or Tailwind, they use the same values.
  Assignments in tailwind.config.js 
*/

/* vars */
:root {
  --primary: #292a5e;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom global css */

.articlelist__picture img {
  object-fit: cover;
  width: 130px;
  height: 100px;
}
